.indexPageInfo {
  margin: auto;
}

.linkCol {
  display:flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
}

.container {
  font-family: Source Sans Pro;
  font-size: 17px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}

.container2 {
  font-family: Source Sans Pro;
  font-size: 17px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
}

.aboutText {
  margin: 0px;
}

p#aboutText {
  font-family: Source Sans Pro;
  font-size: 15px;
  width: 65vh;
  max-width:100%;
  margin: 0px;
  text-align: left;
}

p {
  font-family: Source Sans Pro;
  font-size: 16px !important;
}

div#customPanel{
  border: solid #000;
  border-width: 2px;
  margin:5px;
}

div#panelBody img {
  max-width:100%;
  max-height:100%;
  z-index: 5;
}

div#panelBody {
  position: relative;
  width:60vh;
  max-width:100%;
  word-wrap:normal;
}

div#panelBodyTxt {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  max-width:100%;
  background-color: #FFF;
  opacity: 0;
  padding: 16px;
  font-size: 15px !important;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
}
div#panelBodyTxt:hover { opacity:0.9; }

div#panelHead {
  background-color: #000;
  width: 60vh;
  max-width:100%;
  color: #FFF;
  text-align: center;
  text-transform: uppercase;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
}
div#panelHead:hover { background-color: #FFF; color:#000 !important;}


form.custom {
  width: 60%;
  margin:15px;
}

button.link {  
  background-color: #000;
  color: #FFF !important;
  border: solid #000;
  border-width: 2px;
  width: 60vh;
  text-transform: uppercase;
  margin:5px;
  max-width:100%;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
}
button.link:hover { background-color: #FFF; color:#000 !important;}

button.boxy {
  background-color: #000;
  color: #FFF !important;
  border: solid #000;
  border-width: 2px;
  max-width: 100%;
  margin:4px;
  padding:7px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
}
button.boxy:hover { background-color: #FFF; color:#000 !important;}

#stingray {
  color:blue;
  font-size:16px;
  padding-right:6px;
  text-align: center;
}

img#stingrayImg {
  opacity:0;  
  position:absolute;
}

img#stingrayImg:hover {     
  opacity: 1;  
}

section.module p {
margin-bottom: 10px;
font-size: 14px;
font-weight: 300;
padding-right: 50px;
padding-left: 50px;
}

section.module h1 {
padding-right: 50px;
padding-left: 50px;
}

section.module h2 {
margin-bottom: 10px;
font-family: "Roboto Slab", serif;
font-size: 30px;
}

section.module:last-child {
margin-bottom: 0;
}

section.module p:last-child {
margin-bottom: 0;
}

section.module.content {
  padding: 50px;
  padding-bottom:110px;
}

section.module.header {
  padding: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar-frame,.avatar-frame img{
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50%; /* Saf3+, Chrome */
  border-radius: 50%; /* Opera 10.5, IE 9 */
  /*-moz-border-radius: 30px;  Disabled for FF1+ */
  }

/* Parallax Modules */

section.module.parallax {
padding: 100px;
background-position: 50% 50%;
background-repeat: repeat;
background-attachment: fixed;
width: 100%;
height: 100%;
} /* for tiled backgrounds */

section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.9);
  font-size: 48px;
  line-height: 100px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 2px 2px 50px #000000;
}

section.module.parallax-1 {
  background-image: url("../img/bg/5.jpg");
}
section.module.parallax-2 {
  background-image: url("../img/bg/13.jpg");
}
section.module.parallax-3 {
  background-image: url("../img/bg/3.png");
}
section.module.parallax-0 {
  background-image: url("../img/bg/9.png");
}


@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 14px;
  }
  section.module.parallax h1 {
    font-size: 60px;
  }
}

@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 100px;
  }
}

.media {
  padding-right: 50px;
  padding-left: 50px;
}
