body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 100px;
  font-family: sans-serif;
}

div {
  margin: 5px;
}

a {
  color: #3f9396;
}

a:hover {
  color: black;
}

a:visited {
}

#content {
  display: flex;
  flex-direction: row;
}

#title {
  font-size: 35px;
  font-family: Montserrat;
  padding: 10px;

}

#pic {
  width: 350px;
  height: auto;
  opacity: 0.85;
}

#pic:hover {
  opacity: 1;
}

#text {
  padding: 10px;
}

.icon {
  padding: 5px;
  color: black;
}

.sub {
  color: #9C9C9C;
}

@media only screen and (min-device-width: 320px)  and (max-device-width: 480px) {
  #photo {
    display: none;
  }
  body {
    padding-left: 0px;
  }
}

@media only screen and (min-device-width: 481px)  and (max-device-width: 650px) {
  #photo {
    display: none;
  }
  body {
    padding-left: 0px;
  }
}