---
---

<div class="blog-post">
	<p>Hi, I'm Christina! I'm a software engineer, developer advocate, and tech enthusiast with interests ranging from gaming and business to design. Currently, I'm a Developer Relations Engineer on Cloud AI at Google.</p>

	<p>I focus on helping developers build apps, working at the intersection of engineering and community to make complex concepts understandable and accessible. I love teaching! Across engineering and developer relations roles at companies like Anyscale, Square, and Amazon, I've built software, grown developer communities, and created technical content that helps people ship code.</p>
	
	<p>Hope to work with you soon. Reach out anytime :)</p>
</div>
