---
---

<div class="blog-post">
	<p>Hi, I'm Christina! I'm a software engineer, developer advocate, and tech enthusiast. I have over 8 years of experience creating and enhancing developer platforms and communities.</p>
	
	<p>Currently, I'm a Developer Advocate at Anyscale, where I focus on building cool stuff to support the Ray open source community. <a href="/about">Learn more about me</a>.</p>
</div>
