---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Christina Zhu. Built with <a href="https://github.com/cassidoo/blahg">Cassidy's blog template</a>!
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
		font-size: 0.8rem;
	}
</style>
